/* accordion.component.css */
container {
  margin: 50px;
  }
  .display {
    cursor: pointer;
  }
  
  .heading-and-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .status {
    margin-left: 10px; /* Adjust the margin as needed */
    color: red;
    font-weight: bold;
    font-size: 20px;
  }
  
  .content {
    padding-left: 20px; /* Adjust the padding as needed */
  }
  .item {
    width: 900px;
    margin-left: 50px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    .heading {
      padding: 10px;
      color: black;
      cursor: pointer;
      background-color:white;
      font-weight: bold;
      font-size: 18px;
    }
  
    .content {
      padding: 10px;
      border: 1px solid #ccc;
      max-height: 0;
      overflow: hidden;
      transition: all 0.4s ease-in-out;
      background-color: #f9f9f9;
    }
  
    &.active {
      .content {
        padding: 10px;
        max-height: inherit;
      }
    }
    
  }
  .content-container {
    height: 250px; /* Set a fixed height for scrolling */
    overflow: auto; /* Enable scrolling */
    border: 1px solid #ddd; /* Add a border for clarity */
    padding: 10px; /* Add padding for better appearance */
  }
  
/* accordion.component.css */
.scrollng-message {
  white-space: nowrap; /* Prevent the text from wrapping */
  overflow: hidden; /* Hide any overflowing content */
  text-overflow: ellipsis; /* Display an ellipsis (...) to indicate truncated text */
  max-width: 300px; /* Set the maximum width */
}
